.image-modal {
  &:hover {
    -webkit-text-stroke: unset;
    font-weight: unset;
    
    .img {
      opacity: 1 !important;
    }
  }
  
  .modal-footer {
    display: flex;
    .btn {
      right: 10px;
    }
  }
}
