.image-thumbnail-container {
  position: relative;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px transparent;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s;
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  img {
    opacity: 1;
  }
  
  &:hover {
    color: white;
    -webkit-text-stroke: 1px black;
    
    img {
      opacity: 0.6;
    }
    
  }
}
